h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  background: url(./images/back.jpg);
  background-position: 50%;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  display: flex;
  color: aliceblue;
}

/* HEADER */

.header-navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(41, 41, 57, 0.4);
  width: 200px;
  height: 100%;
  position: fixed;
  padding: 15% 15px;
}
.header-link {
  color: azure;
}
.header-link:hover,
.header-link:focus {
  color: rgb(71, 128, 227);
}

/* HERO */
.section {
  padding: 100px 200px;
}
.hero {
  height: 600px;
  width: 100vw;
  background-color: rgba(247, 255, 255, 0.3);
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/background3.jpg);
  flex-direction: column;
  justify-content: end;
  text-align: center;
  gap: 100px;
}

.hero-title {
  max-width: 1000px;
  font-size: 70px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.hero-button {
  color: #fff;
  padding: 15px 25px;
  background-color: #38d2d2;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

/* Get a joke */
.joke {
  display: flex;

  color: black;
}
.joke-img {
  width: 600px;
}

/* dance */
.dance {
  background-color: rgb(97, 168, 174);
  display: flex;
  flex-direction: row-reverse;
}
.dance-img {
  width: 300px;
}

/* activity */

.activity {
  display: flex;
  background-color: rgb(245, 255, 208);
  color: black;
}
.activity-img {
  width: 600px;
}

/* relax */
.relax {
  background-color: rgb(97, 168, 174);
  display: flex;
  flex-direction: row-reverse;
}
.relax-img {
  width: 600px;
}
